.card-custom{
    border: none;
    box-shadow: 5px 5px 15px #ddd;
    border-radius: 10px;
}
.card-custom .card-image{
    background: #ebebeb;
    width: 100%;
    border-radius: 10px 10px 0px 0px ;

}
.card-custom .card-image img{
    width: auto;
    height: 300px;
    margin: 0 auto;
}
.card-book-name{
    font-family: 'Signika', sans-serif;
}
.card-book-writer{
    color: #8a8a8a
}
.card-price{
    font-family: 'Signika', sans-serif;
}
