*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
.btn-custom{
  border: none;
  background: linear-gradient(to right, #29B473, #38ef7d);
  color: #fff
}
.btn-custom:hover{
  color: #ffffff;
  text-shadow: 0px 0px 10px #fff;
}
.color-custom{
  color: #2FB677;
}
.loading{
  background: none;
  width:auto;
  height: 200px;
}